<h1 *ngIf="!isChange" mat-dialog-title>Adicionar</h1>
<h1 *ngIf="isChange" mat-dialog-title>Editar</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>ID</mat-label>
    <input matInput [(ngModel)]="data.ID">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Matéria</mat-label>
    <input matInput [(ngModel)]="data.materia">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Descrição do Curso</mat-label> 
    <input matInput [(ngModel)]="data.descricao">
  </mat-form-field> 
  <mat-form-field appearance="fill">
    <mat-label>Professor</mat-label>
    <input matInput [(ngModel)]="data.professor">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button *ngIf="!isChange" [mat-dialog-close]="data" cdkFocusInitial>Adicionar</button>
  <button mat-button *ngIf="isChange" [mat-dialog-close]="data" cdkFocusInitial>Editar</button>
</div>